
body {
  font-family: Merriweather, sans-serif;
  margin: 0;
  padding: 0;
}

.form-content {
  justify-content: center;
}

.webter {
  width: 35%;
  padding-left: 10px;
}

.btn-green {
  text-decoration: none;
  color: #fff;
  background-color: #19C3AD;
  border-radius: 30px;
}



.img-flex {
  width: 100%;
  display: block;
}

nav {
  width: 100%;
  background: #fff;
}

ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul li:hover {
  background: #C0C0C0;
}

ul li a {
  color: black;
  text-decoration: none;
}

li {
  border-top: 1px solid;
}

.toggle {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  font-size: 35px;
  display: none;
}

i.fa.fa-bars.menu::before{
  right: 30px;
  top: 20px;
  position: absolute;
}

.banner-mobile {
  max-height: 500px;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.content {
  position: absolute;
  bottom: 60px;
  max-height: 500px;
  max-width: 50em;
  width: 100%;
  padding-left: 1.5rem;
  transform: translateX(-50%);
  left: 50%;
}

.banner-desktop {
  display:none;
}

.prop {
  color: #fff;
}

.get-btn {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
}

.get-btn:hover {
  background-color: #fff;
  color: #252ea0;
}

.btn-1 {
  text-decoration: none;
  color: #fff;
  background-color: #252ea0;
  border-radius: 30px;
}

.solution-btn {
  text-decoration: none;
  color: #fff;
  background-color: #252ea0;
  border-radius: 30px;
}

.solution-btn:hover {
  color: gray;
}

.testimonials {
  background-color: #cdd5ec;
  margin: none;
}

.test {
  position: relative;
  color: rgba(39,62,84,0.82);
}

div.testim {
  position: relative;
}

.testimg {
  max-width: 75%;
  border-radius: 30px;
}
.user-title {
  color: #3957b2;
}

.user-text {
  position: absolute;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  transform: translateX(-50%);
  left: 50%;
  top: 75%;
}

.how-1 {
  color: #2B4CAD;
}

.icons,
.test,
.text-foot {
 width: 80%;
}

.ready {
  color: #2B4CAD;
}

.solution-1 {
  color: #2A4BAC;
}

.foot {
  background-color: #2A4BAC;
   margin: 0 auto;
}

.t-foot {
  color: #fff;
}

.icons-social {
  width: 10%;
}

small {
  color: #fff;
}

.webter-logo-2 {
  max-width: 40%;
}

.web-form {
  height: 40px;
}

.close-icon {
  height: 15px;
}

.header-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mobile {
  justify-content: center;
}

.btn-sign {
  text-decoration: none;
  border: 1px solid #2e3192;
  border-radius: 30px;
}

.button {
  text-decoration: none;
  border: 1px solid #2e3192;
  border-radius: 30px;
  background-color: none;
}

.line-1 {
  color: #2AC6FF;
  text-decoration: none;
}

.that-boc {
  position: relative;
  padding: 1px;
}

.numberphone{
  color: #757575;
  position: absolute;
  max-height: 500px;
  max-width: 50em;
  width: 100%;
  padding-left: 1.5rem;
  transform: translateX(-49%);
  left: 52%;
}

input {
  width: 270px;
}

@media (max-width:607px)
{
  .toggle
  {
    display: block;
  }
}

ul {
  width: 100%;
  display: none;
}

ul li {
  display: block;
  text-align: center;
}

.active {
  display: block;
}

.box-blue {
  padding: 50px;
  background-color: #2A4BAC;
}

.mark {
  color: green;
}

.red-mark {
  color: red;
}
.essentials{
  background-color: #19C3AD;
}

.advanced {
  background-color: #2A4BAC;
}

.table-head {
  color: white;
}

.bg-grey {
  background-color: #D3D3D3;
}

tr td {
  border: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

td {
  padding-bottom: 0;
}

th {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

thead {
  border-left: 1px solid #ddd;
}

a:focus {
  outline: 3px solid #000;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

#phone-number,
#company,
#first-name,
#last-name,
#pwd,
#email {
  width: 280px;
}

@media only screen and (min-width: 25em) {

  .graph-1 {
    max-width: 70%;
  }

  .mobile {
    max-width: 400px;
  }

  #phone-number,
  #company,
  #first-name,
  #last-name,
  #pwd,
  #email {
    width: 357px;
  }

}


@media only screen and (min-width: 38em) {

  .banner-mobile {
    display: none;
  }

  .banner-desktop {
    display: block;
    max-height: 500px;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin: 0 auto;
  }

  .content-2 {
    position: absolute;
    bottom: 20px;
    max-height: 500px;
    max-width: 50em;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 18rem;
    transform: translateX(-50%);
    left: 100%;
  }

  .icons {
    width: 80%
  }

  h2 {
    font-size: 1.2rem;
  }

  .icon-text {
    font-size: 1.2rem;
  }

  .webter-log {
    width: 50%;
  }

  .testimg {
    max-width: 50%;
  }

  .testim {
    margin: none;
  }

  .text-foot {
    width: 30%;
  }

  .icons-social {
    width: 6%;
  }

  ul {
    display: flex;
  }

  li {
    border-top: none;
  }

  nav {
    display: flex;
  }

  #phone-number,
  #company,
  #first-name,
  #last-name {
    width: 270px;
  }

  #pwd,
  #email {
    width: 545px;
  }

  .numberphone {
  transform: translateX(-54%);
  left: 50%;
  }

  .mobile {
    max-width: 600px;
  }

  .btn-green {
    max-width: 100px;
  }

  .solution-btn {
  display: none;
  }

  .graph-1 {
    max-width: 55%;
  }

  .graph-text {
    display
  }


}

@media only screen and (min-width: 60em) {

  .numberphone {
  transform: translateX(-69%);
  left: 50%;
  }

  .mobile {
    max-width: 862px;
  }

  #phone-number,
  #company,
  #first-name,
  #last-name {
    width: 385px;
  }

  #pwd,
  #email {
    width: 787px;
  }



  .testim {
    max-width: 50%;
    border-radius: 30px;
  }

  .user-text {
    font-size: 0.8rem;
    line-height: 1.3em;
    top: 65%;
  }

  .testimg {
    max-width: 100%;
  }

  .banner-desktop {
  max-height: 560px;
  }

  .webter-log {
    max-width: 30%;
  }

  .content-2 {
    bottom: 30px;
    transform: translateX(-47%);

}



  .solution-btn {
    display: none;
  }

@media only screen and (min-width: 90em) {


    #pwd,
    #email {
      width: 800px;
    }

    .mobile {
      max-width: 893px;
    }

    .banner-desktop {
    max-height: 670px;
    }

    .content-2 {
      bottom: 60px;
      transform: translateX(12%);
      left: 50%;
    }

    .webter-log {
      max-width: 30%;
    }

}
